@model IEnumerable<EventEaseVenueBookingSystem.Models.Venue>

@{
    ViewData["Title"] = "Index";
}

<h1>Venues</h1>

<p>
    <a class="btn btn-primary " asp-controller="Venues" asp-action="Create"> Create New Venue </a> 
    
</p>
<p>
    <form asp-controller="Venues" asp-action="Index">
        <label>
            Venue Name: <input type="text" name="SearchString" />
        </label>
        <input type="submit" value="Filter" />
    </form>
</p>

<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.VenueName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                
            <td>
                @Html.DisplayFor(modelItem => item.VenueName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.imageUrl))
                    {
                        <img src="@item.imageUrl" alt="Venue Image" style="width:110px;height:110px;" />
                    }
                    else
                    {
                        <p>No image available</p>
                    }
                </td>
            <td>
                <a class="btn btn-primary btn-sm" asp-controller="Venues" asp-action="Edit" asp-route-id="@item.VenueId">Edit</a> 
                    <a class="btn btn-secondary btn-sm" asp-controller="Venues" asp-action="Details" asp-route-id="@item.VenueId">Details</a> 
                    <a class="btn btn-danger btn-sm" asp-controller="Venues" asp-action="Delete" asp-route-id="@item.VenueId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
