@model IEnumerable<EventEaseVenueBookingSystem.Models.Booking>


@{
    ViewData["Title"] = "Index";
}

<h1>Bookings</h1>

<p>

    <a class="btn btn-primary " asp-controller="Bookings" asp-action="Create"> Create New Booking </a>
</p>

<p>
    <form asp-controller="Bookings" asp-action="Index">
        <label>
            Name of Booked Event: <input type="text" name="SearchString" />
        </label>
        <input type="submit" value="Filter" />
    </form>
</p>
<div class="container mt-3">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@item.Event.EventName</h5>
                        <p class="card-text">Venue Name: @item.Venue.VenueName</p>
                        <p class="card-text">Event Date: @item.Event.EventDate</p>
                        <p class="card-text">Event Time: @item.Event.EventTime</p>

                        <br>
                        <br>
                        <a class="btn btn-primary" asp-controller="Bookings" asp-action="Edit" asp-route-id="@item.BookingId">Edit</a>
                        <a class="btn btn-secondary" asp-controller="Bookings" asp-action="Details" asp-route-id="@item.BookingId">Details</a>
                        <a class="btn btn-danger" asp-controller="Bookings" asp-action="Delete" asp-route-id="@item.BookingId">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
